 <div class="bio">
    <img class="desaturate" src="/assets/img/people/alessandro.png">
    <h3>Alessandro Mambelli</h3>
    <h5>Trail Exploration</h5>
     
    <p>Alessandro is an Italian traveller with 10 years of experience as a professional nomad. Engineer by training, through several experiential seasons he'd been an Artificial Intelligence researcher in the UK, a tech entrepreneur in Bulgaria, the co-creator and leader of the largest Robotics workshop in Armenia, where he was also serving as teacher and builder of large IT systems for an educational non-profit organization. With his latest chapter, the Transcaucasian Expedition, he is combining his long term passion for the outdoors with his mild-obsession for maps and geography, to explore the Lesser Caucasus mountain range and eventually create the newest long-distance hiking trail in the world.</p>

</div>

