 <div class="bio">
 	<img class="desaturate" src="/assets/img/people/jeff.png">
	<h3>Jeff Haack</h3>
	<h5>Technology Manager, Cartographer</h5>
     
	<p>Jeff Haack is a board member and co-founder of the Transcaucasian Trail Association. He is a professional cartographer, author, and technologist. Jeff has worked in open source mapping projects and disaster risk management in Georgia, southeast Asia, and east Africa. He was a Peace Corps Volunteer in Georgia from 2006-2008 and has lived in the region for over six years. A passion for exploration has led him on many hiking and cycling expeditions in the Caucasus.</p>

	
</div>

