 <div class="bio">
 	<img class="desaturate" src="/assets/img/people/laura.png">
	<h3>Laura Santos-Bishop</h3>
	<h5>Trail Development</h5>
     
	<p>Vahagn is an artist and certified yoga trainer, traveler, cycling activist and eco-tourism specialist. Vahagn has a background as a youth trainer and radio-journalist and has worked in a number of international organizations such as MSF France, US Peace Corps, World Vision, Radio RFE RL, New York University, Columbia University, Council of Europe and Public Radio of Armenia. Vahagn is currently involved as ecotourism manager for the Foundation for Preservation of Wildlife and Cultural Assets.</p>

	
</div>




