 <div class="bio">
 	<img class="desaturate" src="/assets/img/people/laura.png">
	<h3>Laura Santos-Bishop</h3>
	<h5>Trail Development</h5>
     
	<p>Laura Santos-Bishop first arrived in the Caucasus on a Fulbright to Armenia in 2012. She has been working in education in the region ever since,  first in Yerevan, Armenia and now in Tbilisi, Georgia. She has three years' working experience in hiking trail construction and maintenance from summers on the Adirondak Mountain Club Professional Trails Crew in Lake Place, NY. A passion for the outdoors and volunteer work led her to her involvement in the TCT.</p>

	
</div>




