 <div class="bio">
 	<img class="desaturate" src="/assets/img/people/marta.png">
	<h3>Marta Mills</h3>
	<h5>Stakeholder Engagement, Communications</h5>
     
	<p>Marta leads the TCTA’s community engagement work. She is a well-travelled backpacker, hiker and a fan of the Caucasus since her first trip in 2001. She has many years of experience in communications and stakeholder engagement, including five years at the UK’s <a href="http://www.dfid.gov.uk" target="_blank">Department for International Development (DFID)</a>, working on DFID’s programmes in South Caucasus, Eastern Europe and Central Asia. She also supports the work of <a href="http://equalityintourism.org" target="_blank">Equality in Tourism</a> that facilitates gender equality in tourism and within the wider development context. She speaks Polish, English and Russian. </p>

	
</div>

