 <div class="bio">
    <img class="desaturate" src="/assets/img/people/paul.png">
    <h3>Paul Stephens</h3>
    <h5>Executive Director</h5>
     
    <p>Paul Stephens is the executive director and co-founder of the Transcaucasian Trail Association. He was a Peace Corps Volunteer in Georgia from 2005-2007 and has been exploring the region ever since. He has worked as an educator, journalist, and communications specialist for USAID in Tbilisi. He is a graduate of Columbia Journalism School and has written extensively on international affairs and global development issues.</p>

</div>

