---
title: Transcaucasian Trail - About Us
section: about
lang: ka
layout: default
description: The Transcaucasian Trail (TCT) is a proposed hiking path across the Caucasus Mountains from the Black Sea to the Caspian Sea. A branch of the trail will head south from the Greater Caucasus range to the Lesser Caucasus. The trail will connect 17 distinct regions, where over a dozen different languages are spoken, across one of the most biologically diverse regions of the world.
---

	<div class="block" >
        <div class="row row-centered">
            <div class="col-md-6 col-sm-7 col-centered" id="tct-development">
                <h1>ტრანსკავკასიური ბილიკი</h1>
                <!-- <h2>A crazy. good. idea.</h2> --></br>
            </div>
        </div>
        <div class="row row-centered">
            <div class="col-md-6 col-sm-8 col-centered">
                <h3>ჩვენი ხედვა</h3>
                <p>ვაგებთ მსოფლიო დონის, გრძელ სალაშქრო ბილიკს, რომელიც კვეთს დიდსა და მცირე კავკასიონს, აკავშირებს მრავალფეროვან თემებსა და ეკოსისტემებს. ამავე დროს, აქვს ხანგრძლივი და მრავალფეროვანი დადებითი სარგებელი ადამიანებისა და გარემოსთვის.</p></br>

                <h3>ჩვენი მისია</h3>
                <p>ჩვენი მიზანია განვავითაროთ და დავხვეწოთ ტრანსკავკასიური ბილიკი, გავხადოთ ის ცნობილი მსოფლიოს მასშტაბით, და შევინარჩუნოთ წლების მანძილზე. ყოველივე ამით კი გავაუმჯობესოთ წვდომა რეგიონის მდიდარ კულტურულ და ბუნებრივ მემკვიდრეობაზე, და წავახალიხოთ მისი დაცვა. სარგებელი მოვუტანოთ ადგილობრივ მოსახლეობას და ბილიკის მომხმარებლებს მდგრადი ტურიზმის განვითარების გზით.</p>
            </div>
        </div>
    </div>


    
    <div class="block" >
        <div class="row row-centered">
            <div class="col-sm-5 col-centered">
                <h3>მსოფლიო დონის მარშრუტის შექმნა</h3>
                <p>მომდევნო ხუთი წლის განმავლობაში ტრანსკავკასიური ბილიკის პროექტი მიზნად ისახავს მსოფლიო დონის, გრძელი ბილიკების ქსელის შექმნას კავკასიონის გასწვრივ, რაც რეგიონში არსებულ ოცამდე ეროვნულ პარკს ერთმანეთთან დააკავშირებს. აღნიშნული ქსელი ორი ურთიერთდაკავშირებული ბილიკთა დერეფნისგან იქნება შემდგარი, თითოეული დაახლოებით 1500 კილომეტრის სიგრძისაა. ერთი დერეფანი, მიმავალი აღმოსავლეთიდან დასავლეთით, დააკავშირებს კასპიის ზღვას შავ ზღვასთან. მეორე კი, ჩრდილოეთიდან სამხრეთისკენ დიდ კავკასიონს მცირე კავკასიონთან შეაერთებს.</p>
    
                <p>ეს კარგად მონიშნული და მოვლილი ბილიკები მოლაშქრეებისა და ბილიკის სხვა მომხმარებლებისთვის მსოფლიო დონის გამოდცილებას შექმნის. ასევე გაზრდის ეკონომიკურ შესაძლებლობებს ადგილობრივი მოსახლეობისთვის. ტრანსკავკასიური ბილიკი გააუმჯობესებს წვდომას ისტორიულ ძეგლებამდე და დაცულ ტერიტორიებამდე, რაც გამოიწვევს მათი ცნობადობის გაზრდას. ეს დაეხმარება მომავალ თაობებს მიიღონ ბუნებრივი და კულტურული მემკვიდრეობის დათვალიერებით გამოწვეული დაუვიწყარი სიამოვნება.</p>
    
                <p>ბილიკების გაყვანა რამდენიმე ეტაპად მოხდება, თითოეული მათგანი ორიენტირებული იქნება კონკრეტულ რეგიონზე. როგორც კი რეგიონული ბილიკების გაყვანა დასრულდება, ისინი ერთმანეთს დაუკავშირდებიან და შექმნიან გრძელი მასშტაბის კორიდორებს. საბოლოოდ, ვიზიტორებს შესაძლებლობა ექნებათ აღნიშნული ბილიკები უწყვეტად, რამდენიმე ასეული კილომეტრის სიგრძეზე დალაშქრონ.</p>
            </div>
            <div class="col-sm-5 col-centered" id="window-wrapper">
                <!-- <img style='width:470px;padding-top:0rem;padding-left:1rem;' src="assets/img/dochu-supra550.jpg"> -->
                <img class="firstblock">
            </div>
        </div>
    </div>

    <div class="block" >
        <div class="row row-centered">
            <div class="col-sm-5 col-centered" id="window-wrapper">
                <img class="secondblock">
            </div>
            <div class="col-sm-5 col-centered">
                <h3>კულტურების გზაჯვარედინზე</h3>
                <p>აღნიშნული ბილიკის ბევრი მონაკვეთი უკვე არსებობს. ისინი, რომლებიც კავკასიონის დიდ მინდვრებსა და ხეობებს კვეთენ, უკვე საუკუნეებია გამოიყენება ადგილობრივი მოსახლეობის, მწყემსებისა და თავგადასავლების მოყვარულების მიერ, რომლებიც მთებში სოფლიდან სოფელში გადადიან. სამწუხაროდ, ბილიკების ქსელის დიდი ნაწილი კავკასიონის მასშტაბით ბოლო წლების განმავლობაში მნიშვნელოვნად დაზიანდა. უმრავლესობის შესახებ მხოლოდ ადგილობრივებმა თუ იციან, და მათზე დამოუკიდებლად სიარული ვიზიტორებისთვის არც ისე მარტივია.</p>

                <p>ტრანსკავკასიური ბილიკის დასრულება მოითხოვს არსებული მონაკვეთების რუკაზე დატანას, მათი გაუმჯობესებისა და შენაჩუნებისთვის მეტი კოორდინაციის გაწევას - რაც გულისხმობს წაქცეული ხეებისა და ახლადამოსული ბუჩქების გაწმენდას, ჩანგრეული მონაკვეთების აღდგენას, ხიდების გადებასა და მონიშვნების დაზუსტებას. როცა ბილიკების ზოგადი მდგომარება გაუმჯობესდება, მათ ახალი სექციებიც დაემატება, რათა ყველას ერთმანეთთან დაკავშირება მოხდეს. საბოლოო მიზანია გრძელი, უწყვეტი ბილიკის შექმნა, რომელიც კარგად მონიშნული და მოვლილი იქნება. ეს კი მოლაშქრეებისთვის შთამბეჭდავ კავკასიონს სრულიად ხელმისაწვდომს გახდის.</p>
            </div>
        </div>
    </div>   


    <div class="block">
        <div class="row row-centered">
            <div class="col-md-7 col-sm-9 col-centered" id="tct-development">
                <h3>ვინ ვართ ჩვენ</h3>
                <!-- <p>We are a growing community of interested hikers, mappers, conservationists and supporters who want to improve the hiking opportunities in the Caucasus for locals and tourists alike. So far we have mapped hundreds of kilometers of trail that will become a part of a long-distance hiking network. As the trail is mapped, we will be producing hiking guides for the region and planning trail improvement activities.</p> -->

                <p>ტრანსკავკასიური ბილიკის ასოციაცია არის არა-სამთავრობო ორგანიზაცია დაფუძნებული ვაშინგტონში. მისი გუნდის წევრები მოღვაწეობენ ლონდონში, ერევანსა და თბილისში. ჩვენს თანაგუნდელებს აღნშნულ რეგიონში მუშაობის მრავალწლიანი გამოცდილება აქვთ. ასევე, კარგი კავშირები მეგობარ ორგანიზაციებთან, ადგილობრივ თემებთან, შესაბამის ეროვნულ და სამთავრობო დაწესებულებებთან. ტრანსკავკასიური ბილიკის ასოციაცია შეასრულებს ცენტრალური საკოორდინაციო ორგანოს ფუნქციას ბილიკის განვითარებისა და მისი სახელის პოპულარიზაციისთვის. პარტნიორობა სხვადასხვა ექსპერტებთან, თემთან, არასამთავრობო ორგანიზაციებთან, აკადემიკოსებთან, ბიზნესის წარმომადგენლებთან და მთავრობასთან, საფუძველს ჩაუყრის დასახული მიზნის წარმატებით მიღწევას.</p>

                <p>შემოგვიერთდით ქვემოთ ღილაკზე დაჭერით. მიიღეთ ინფორმაცია სიახლეების, დაგეგმილი ღონისძიებების და მოხალისედ ჩართვის შესაძლებლობების შესახებ. ასევე, არ გამოგრჩეთ - გვიპოვეთ Facebook-სა და Twitter-ზე!</p>
                </br>

                <form action="../get-involved">
                    <button type="submit" class="btn btn-shop btn-lg center-block">Get Involved!</button>
                </form>
            </div>
        </div>
    </div>

    <div class="block" style="border:none">
        <div class="row row-centered">
            <div class="col-sm-9 col-xs-10 col-centered" id="tct-bios">
                <!-- <h3>The Transcaucasian Trail Team</h3><br/><br/> -->

                <h1 style="border-bottom:1px solid #2b6293; line-height:70px; color:#2b6293;">ტრანსკავკასიური ბილიკის ასოციაციის დირექტორთა საბჭო</h1><br/><br/>

                {% for bio in site.data.bios-ka %}

                    {% if bio.category == 'board' %}

                        <div class="row row-centered tct-bio" id="{{ bio.id }}">
                            <div class="col-sm-10 col-xs-10 col-centered">

                                <div class="col-sm-4 col-xs-12 col-centered img-col">
                                    <img src="{{ bio.photo }}">


                                </div>
                                <div class="col-sm-8 col-xs-12 col-centered text-col">
                                    <h3>{{ bio.name }}</h3>
                                    <!-- <h5>{{ bio.position }}</h5> -->
                                    <p>{{ bio.description}}</p>
         
        
                                </div>

                            </div>

                        </div>

                    {% endif %}

                {% endfor %}

                <br/><br/>
                <h1 style="border-bottom:1px solid #2b6293; line-height:70px; color:#2b6293;">ტრანსკავკასიური ბილიკის გუნდი</h1><br/><br/>

                {% for bio in site.data.bios-ka %}

                    {% if bio.category != 'board' %}

                        <div class="row row-centered tct-bio" id="{{ bio.id }}">
                            <div class="col-sm-10 col-xs-10 col-centered">

                                <div class="col-sm-4 col-xs-12 col-centered img-col">
                                    <img src="{{ bio.photo }}">


                                </div>
                                <div class="col-sm-8 col-xs-12 col-centered text-col">
                                    <h3>{{ bio.name }}</h3>
                                    <h5>{{ bio.position }}</h5>
                                    <p>{{ bio.description}}</p>
         
        
                                </div>

                            </div>

                        </div>

                    {% endif %}

                {% endfor %}



            </div>
        </div>
    </div>


    
    <div id="block5" class="break-block bb1">
        <h1 style="margin-top:0px;">ათ ენაზე მეტი. დაკავშირებული ერთი სამთო სისტემით.</h1>
    </div>

    