{% if page.lang == 'en' %} 
    <div id="contact">
        <div class="row row-centered">
            <div class="col-xs-5 col-sm-4 col-centered contact-cols">
                <h4>Contact</h4>
                <p class="contact1">Want to get in touch? </br><a href="/en/contact">Send us a message.</a></p>
            </div>

            <div class="col-xs-5 col-sm-4 col-centered contact-cols">
                <h4>Get Connected</h4>
                <p class="contact2">
                    <a href="https://www.facebook.com/transcaucasiantrail" target="_blank"><i class="fa fa-facebook"></i> Facebook</br></a>
                    <a href="https://twitter.com/theTCTrail" target="_blank"><i class="fa fa-twitter"></i> Twitter</br></a>
                    <a href="https://instagram.com/transcaucasiantrail/" target="_blank"><i class="fa fa-instagram"></i> Instagram</br></a>
                </p>
            </div>
        </div>
    </div>
{% endif %}

{% if page.lang == 'ka' %}
    <div id="contact">
        <div class="row row-centered">
            <div class="col-xs-5 col-sm-4 col-centered contact-cols">
                <h4>კონტაქტი</h4>
                <p class="contact1">გსურს დაგვიკავშირდე? </br><a href="/ka/contact">მოგვწერე.</a></p>
            </div>

            <div class="col-xs-5 col-sm-4 col-centered contact-cols">
                <h4>შემოგვიერთდი </h4>
                <p class="contact2">
                    <a href="https://www.facebook.com/transcaucasiantrail" target="_blank"><i class="fa fa-facebook"></i> Facebook</br></a>
                    <a href="https://twitter.com/theTCTrail" target="_blank"><i class="fa fa-twitter"></i> Twitter</br></a>
                    <a href="https://instagram.com/transcaucasiantrail/" target="_blank"><i class="fa fa-instagram"></i> Instagram</br></a>
                </p>
            </div>
        </div>
    </div>
{% endif %}

{% if page.lang == 'hy' %} 
    <div id="contact">
        <div class="row row-centered">
            <div class="col-xs-5 col-sm-4 col-centered contact-cols">
                <h4>Կապ</h4>
                <p class="contact1">Ուզու՞մ եք կապ հաստատել: </br><a href="/hy/contact">Հաղորդագրություն ուղարկեք մեզ:</a></p>
            </div>

            <div class="col-xs-5 col-sm-4 col-centered contact-cols">
                <h4>Կապվեք մեզ հետ</h4>
                <p class="contact2">
                    <a href="https://www.facebook.com/transcaucasiantrail" target="_blank"><i class="fa fa-facebook"></i> Facebook</br></a>
                    <a href="https://twitter.com/theTCTrail" target="_blank"><i class="fa fa-twitter"></i> Twitter</br></a>
                    <a href="https://instagram.com/transcaucasiantrail/" target="_blank"><i class="fa fa-instagram"></i> Instagram</br></a>
                </p>
            </div>
        </div>
    </div>
{% endif %}