<div id="footer">
    <h4>{{site.t.[page.lang].footer.the-tcteam}}</h4>
    <div class="row row-centered contact-row">
        <div class="col-md-10 col-centered">
        <div class="col-xs-5 col-sm-3 col-md-3 col-centered footer-col">
            <a href="/{{ page.lang }}/about#paul" class="person">
                <img src="/assets/img/people/paul.png"><br/>
                <span class="highlight">{{site.t.[page.lang].footer.paul}}</span><br/>{{site.t.[page.lang].footer.paul-job}}
            </a>
        </div>
        <div class="col-xs-5 col-sm-3 col-md-3 col-centered footer-col">
            <a href="/{{ page.lang }}/about#jeff" class="person">
                <img src="/assets/img/people/jeff.png"><br/>
                <span class="highlight">{{site.t.[page.lang].footer.jeff}}</span><br/>{{site.t.[page.lang].footer.jeff-job}}
            </a>
        </div>
        <div class="col-xs-5 col-sm-3 col-md-3 col-centered footer-col ">
            <a href="/{{ page.lang }}/about#laura" class="person">
              <img src="/assets/img/people/laura.png"><br/>
              <span class="highlight">{{site.t.[page.lang].footer.laura}}</span><br/>{{site.t.[page.lang].footer.laura-job}}
            </a>
        </div>
        <div class="col-xs-5 col-sm-3 col-md-3 col-centered footer-col">
            <a href="/{{ page.lang }}/about#james" class="person">
              <img src="/assets/img/people/james.png"><br/>
              <span class="highlight">{{site.t.[page.lang].footer.james}}</span><br/>{{site.t.[page.lang].footer.james-job}}
            </a>
        </div>
        <div class="col-xs-5 col-sm-3 col-md-3 col-centered footer-col">
            <a href="/{{ page.lang }}/about#marta" class="person">
              <img src="/assets/img/people/marta.png"><br/>
              <span class="highlight">{{site.t.[page.lang].footer.marta}}</span><br/>{{site.t.[page.lang].footer.marta-job}}
            </a>
        </div>
        <div class="col-xs-5 col-sm-3 col-md-3 col-centered footer-col">
            <a href="/{{ page.lang }}/about#vahagn" class="person">
              <img src="/assets/img/people/vahagn.png"><br/>
              <span class="highlight">{{site.t.[page.lang].footer.vahagn}}</span><br/>{{site.t.[page.lang].footer.vahagn-job}}
            </a>
        </div>
        <div class="col-xs-5 col-sm-3 col-md-3 col-centered footer-col">
            <a href="/{{ page.lang }}/about#tom" class="person">
              <img src="/assets/img/people/tom.png"><br/>
              <span class="highlight">{{site.t.[page.lang].footer.tom}}</span><br/>{{site.t.[page.lang].footer.tom-job}}
            </a>
        </div>
        <div class="col-xs-5 col-sm-3 col-md-3 col-centered footer-col">
            <a href="/{{ page.lang }}/about#alessandro" class="person">
              <img src="/assets/img/people/alessandro.png"><br/>
              <span class="highlight">{{site.t.[page.lang].footer.alessandro}}</span><br/>{{site.t.[page.lang].footer.alessandro-job}}
            </a>
        </div>
        </div>
    </div>
</div>

<div id="subfooter">
    {{site.t.[page.lang].footer.copyright}}
</div>