<div id="footer">
    <h4>The TCTeam</h4>
    <div class="row row-centered contact-row">
        <div class="col-xs-5 col-sm-3 col-md-2 col-centered footer-col">
            <div class="person">
                <img src="/assets/img/people/paul.png"><br/>
                <span class="highlight">Paul Stephens</span><br/>Executive Director
            </div>
        </div>
        <div class="col-xs-5 col-sm-3 col-md-2 col-centered footer-col">
            <div class="person">
                <img src="/assets/img/people/jeff.png"><br/>
                <span class="highlight">Jeff Haack</span><br/>Technology Manager, Cartographer
            </div>
        </div>
        <div class="col-xs-5 col-sm-3 col-md-2 col-centered footer-col ">
            <div class="person">
              <img src="/assets/img/people/laura.png"><br/>
              <span class="highlight">Laura Santos-Bishop</span><br/>Trail Development
            </div>
        </div>
        <div class="col-xs-5 col-sm-3 col-md-2 col-centered footer-col">
            <div class="person">
              <img src="/assets/img/people/james.png"><br/>
              <span class="highlight">James Scipioni</span><br/>Trail Development
            </div>
        </div>
        <div class="col-xs-5 col-sm-3 col-md-2 col-centered footer-col">
            <div class="person">
              <img src="/assets/img/people/marta.png"><br/>
              <span class="highlight">Marta Mills</span><br/>Stakeholder Engagement, Communications
            </div>
        </div>
        <div class="col-xs-5 col-sm-3 col-md-2 col-centered footer-col">
            <div class="person">
              <img src="/assets/img/people/vahagn.png"><br/>
              <span class="highlight">Vahagn Vardumyan</span><br/>Trail Development
            </div>
        </div>
    </div>
</div>

<div id="subfooter">
    Copyright &copy; 2016 Transcaucasian Trail Association. All rights reserved.
</div>