<div id="footer">
    <h4>The TCTeam</h4>
    <div class="row row-centered contact-row">
        <div class="col-md-10 col-centered">
        <div class="col-xs-5 col-sm-3 col-md-3 col-centered footer-col">
            <a href="/{{ page.lang }}/about#paul" class="person">
                <img src="/assets/img/people/paul.png"><br/>
                <span class="highlight">Paul Stephens</span><br/>Executive Director
            </a>
        </div>
        <div class="col-xs-5 col-sm-3 col-md-3 col-centered footer-col">
            <a href="/{{ page.lang }}/about#jeff" class="person">
                <img src="/assets/img/people/jeff.png"><br/>
                <span class="highlight">Jeff Haack</span><br/>Cartographer
            </a>
        </div>
        <div class="col-xs-5 col-sm-3 col-md-3 col-centered footer-col ">
            <a href="/{{ page.lang }}/about#laura" class="person">
              <img src="/assets/img/people/laura.png"><br/>
              <span class="highlight">Laura Santos-Bishop</span><br/>Trail Development
            </a>
        </div>
        <div class="col-xs-5 col-sm-3 col-md-3 col-centered footer-col">
            <a href="/{{ page.lang }}/about#james" class="person">
              <img src="/assets/img/people/james.png"><br/>
              <span class="highlight">James Scipioni</span><br/>Trail Development
            </a>
        </div>
        <div class="col-xs-5 col-sm-3 col-md-3 col-centered footer-col">
            <a href="/{{ page.lang }}/about#marta" class="person">
              <img src="/assets/img/people/marta.png"><br/>
              <span class="highlight">Marta Mills</span><br/>Stakeholder Engagement, Communications
            </a>
        </div>
        <div class="col-xs-5 col-sm-3 col-md-3 col-centered footer-col">
            <a href="/{{ page.lang }}/about#vahagn" class="person">
              <img src="/assets/img/people/vahagn.png"><br/>
              <span class="highlight">Vahagn Vardumyan</span><br/>Trail Development
            </a>
        </div>
        <div class="col-xs-5 col-sm-3 col-md-3 col-centered footer-col">
            <a href="/{{ page.lang }}/about#tom" class="person">
              <img src="/assets/img/people/tom.png"><br/>
              <span class="highlight">Tom Allen</span><br/>Trail Development
            </a>
        </div>
        <div class="col-xs-5 col-sm-3 col-md-3 col-centered footer-col">
            <a href="/{{ page.lang }}/about#alessandro" class="person">
              <img src="/assets/img/people/alessandro.png"><br/>
              <span class="highlight">Alessandro Mambelli</span><br/>Trail Development
            </a>
        </div>
        </div>
    </div>
</div>

<div id="subfooter">
    Copyright &copy; 2016 Transcaucasian Trail Association. All rights reserved.
</div>