    <!-- NAVBAR  -->
    <header class="navbar navbar-default" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-contents">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- <a href="#" class="navbar-brand"><img alt="TCT Logo" src="assets/img/tct-logo-144x144.png"></a> -->
        </div>
        <div class="collapse navbar-collapse" id="navbar-contents">
          <ul class="nav navbar-nav navbar-right" role="navigation">
            {% if page.section == "home" %} 
            {% else %} <li><a href="/{{ page.lang }}">{{site.t.[page.lang].navbar.home}}</a></li> {% endif %}

            {% if page.section == "about" %} <li><a href="/{{ page.lang }}/about" class="active">
            {% else %} <li><a href="/{{ page.lang }}/about"> {% endif %} {{site.t.[page.lang].navbar.about}}</a></li>
            
            {% if page.section == "goals" %} <li><a href="/{{ page.lang }}/goals" class="active">
            {% else %} <li><a href="/{{ page.lang }}/goals"> {% endif %} {{site.t.[page.lang].navbar.goals}}</a></li>

            <!-- {% if page.section == "who-we-are" %} <li><a href="/en/who-we-are" class="active">
            {% else %} <li><a href="/en/who-we-are"> {% endif %} Who we are</a></li> -->

            {% if page.section == "faq" %} <li><a href="/{{ page.lang }}/faq" class="active">
            {% else %} <li><a href="/{{ page.lang }}/faq"> {% endif %} {{site.t.[page.lang].navbar.faq}}</a></li>

            {% if page.section == "get-involved" %} <li><a href="/{{ page.lang }}/get-involved" class="active">
            {% else %} <li><a href="/{{ page.lang }}/get-involved"> {% endif %} {{site.t.[page.lang].navbar.get-involved}}</a></li>

            <!-- {% if page.section == "gear" %} <li><a href="/{{ page.lang }}/gear" class="active">
            {% else %} <li><a href="/{{ page.lang }}/gear"> {% endif %} {{site.t.[page.lang].navbar.gear}}</a></li> -->

            {% if page.category == "blog" %} <li><a href="/{{ page.lang }}/blog" class="active">
            {% else %} <li><a href="/{{ page.lang }}/blog"> {% endif %} {{site.t.[page.lang].navbar.blog}}</a></li>

            <!-- {% if page.category == "fund-us" %} <li><a href="/{{ page.lang }}/fund-us" class="active">
            {% else %} <li><a href="/{{ page.lang }}/fund-us"> {% endif %} {{site.t.[page.lang].navbar.fund-us}}</a></li> -->

            <li><button type="button" class="btn nav-btn-indie-gogo navbar-btn btn-sm" onclick=location.href="/{{ page.lang }}/fund-us";>{{site.t.[page.lang].navbar.fund-us}}</button></li>
            

            <!-- <li><button type="button" class="btn btn-warning navbar-btn btn-sm" onclick="location.href='trail-guide.html';">Trail Guide</button> </li> -->
          </ul>
        </div>
      </div>
    </header>