/*========================
Helper Classes
=========================*/
.box { border: 1px solid red;}

.ctr {
    text-align: center;
}

.tct-blue {
    color: #2b6293;
}

.tct-gold {
    color: #e3ba36;
}

.tct-orange, {
    color: #e36c36;
}

.green {
    color: #4edc32;
}
.yellow {
    color: #dcda32;
}
.red {
    color: #dc3232;
}

/* centered columns styles for bootstrap*/
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    vertical-align: top;
}

/*========================*/



body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    color: #2f3c42;
    width: 100%;
    overflow-x: hidden; 
    /*font-size: 62.5%;*/
}

@media (min-width: 768px) {
    body {
        overflow-x: visible; 
    }
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

p {
    text-align: justify;
    text-justify: inter-word;
}

li {
    color: gray;
}
img.desaturate {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/*========================
The Nav Bar on the Home page
=========================*/
.navbar {
    background-color: transparent;
    border: none;
    margin-top: 0px;
    position: absolute;
    top: 0;
    z-index: 200;
}

#navbar-contents {
    margin-top: 45px;
}

.navbar-nav > li > a {
  padding-left: 10px;
  font-size: 1.3rem;
}

.bar-default .navbar-nav>li>a:hover {
    color: #e3ba36;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #e3ba36;
}

@media (min-width: 768px) {
    .navbar-default .navbar-nav>li>a {
        color: white;
    }
}

.navbar-default .navbar-nav>li>a.active{
    color: #e3ba36;
    background: transparent;
 }

.navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
      color: #e3ba36;
      background: transparent;
 }

.btn-warning:hover {
    color: #fff;
    background-color: #e3ba36;
    border-color: #e1b834;
}

@media (min-width: 768px) {
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 75px;
    padding-left: 0px;
    padding-top: 0px;
    }
}

.navbar-brand img {
    width: 100px;
    opacity: 0.7;
    display: none;
}


/*========================
Block 1 - The header block
=========================*/

.block1-wrapper {
    /*height: 720px;*/
    height: 96%;
    z-index: -100;
}

#block1 {
    position: relative;
    margin: 0px 0px 20px 0px;
    min-width: 100%;
    height: 100%;
    background: url('../img/cover-backgroundB.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */   
    #block1 {
        background: url('../img/cover-background-ipadB.jpg') no-repeat center center;
    }
}

#block1:after {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #000;
    opacity: .2
}

#block1-title {
    width: 100%;
    position: absolute;
    bottom: 20%;
    left: 0px;
    z-index: 2;
}

@media (min-width: 768px) {
    #block1-title {
        width: 600px;
        height: 300px;
        position: absolute;
        bottom: 50px;
        left: 115px;
        z-index: 2;
    }
}

#block1-title>h1 {
    text-transform: uppercase;
    font-family: RalewayRegular, sans-serif;
    font-weight: 400;
    font-size: 3.2rem;
    color: #fff;
    line-height: 1.1;
    text-align: center;
}

@media (min-width: 768px) {
#block1-title>h1 {
    font-size: 6.2rem;
    text-align: left;
    }
}

#block1-chevron {
    position: absolute;
    left: 50%;
    bottom: 10px;
    color: #ec971f;
    z-index: 2;
}

#block1-chevron:hover {
    color: #e3ba36;
}

/*========================
Block 2 - What is the TCT?
=========================*/
#block2 {
    position: relative;
    margin: 40px 0px 40px 0px;
    /*padding: 50px auto 10px;*/
    min-width: 100%;
    height: auto;
    font-family: RalewayThin, sans-serif;
}

.borderbottom {
    border-bottom: 1px solid #e4e9ec;
}

@media (min-width: 768px) {
    #block2 {
        margin: 80px 0px 20px 0px;
        padding-bottom: 35px;
    }
}

/*#block2 h1 {
    font-size: 2.4rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

#block2 h2 {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-family: RalewayRegular, sans-serif;
    font-size: 2.4rem;
    line-height: 1.8rem;
    font-weight: 300;
}*/

#block2 h1 {
    font-family: RalewayRegular, sans-serif;
    font-size: 3.2rem;
    text-align: center;
    color: gray;
}

#block2 h2 {
    font-family: RalewayThin, sans-serif;
    font-size: 2.2rem;
    text-align: center;
    color: gray;
    margin-top: 10px;
    margin-bottom: 35px;
}

#block2 h3 {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-family: RalewayRegular, sans-serif;
    font-size: 2.3rem;
    line-height: 3.2rem;
    font-weight: 300;
    color: #555;
}

#block2 p {
    /*margin-top: 20px;*/
    margin: 2.4rem 1rem 2rem 2rem;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 300;
    font-family: RalewayRegular, sans-serif;
    color:;
}

.logo-b2 {
    width: 75px;
    opacity: 0.8;
}

#block2 p.center {
    text-align: justify;
    text-justify: inter-word;
}

#block2 .tct-orange {
    /*color: #e36c36;*/
}

#window-wrapper {
}

#window-wrapper img {
    width: 100%;
    margin: 0 auto;
}



@media (min-width: 768px) {
    .window-wrapper-pad img {
        padding-top: 200px;
    }
}

@media (min-width: 958px) {
    .window-wrapper-pad img {
        padding-top: 100px;
    }
}

@media (min-width: 1200px) {
    .window-wrapper-pad img {
        padding-top: 40px;
    }
}

.picture_content {
    display: inline-block;
    padding: 0 20px;
}


.image_box_story {
    height: 395px;
    max-width: 400px;
    margin: 0 auto 45px auto;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-size: cover;
}

.image_box_story li {
    width: 184px;
    height: 184px;
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.image_box_story li:nth-of-type(1) {
    background: url('../img/window-1.jpg') no-repeat center center;
    background-size: cover;
    margin-right: 20px;
}

.image_box_story li:nth-of-type(2) {
    background: url('../img/window-2.jpg') no-repeat center center;
    background-size: cover;
}

.image_box_story li:nth-of-type(3) {
    background: url('../img/window-3.jpg') no-repeat center center;
    background-size: cover;
    margin-right: 20px;
    margin-top: 20px;
}

.image_box_story li:nth-of-type(4) {
    background: url('../img/window-4.jpg') no-repeat center center;
    background-size: cover;
    margin-top: 20px;
}

.image_box_story1 li {
    width: 238px;
    height: 500px;
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

/*========================
Block 3 - The Big Map
=========================*/
.block3-wrapper {
    /*height: 720px;*/
    height: 96%;
    z-index: 100;
}

#map { 
    width:100%;
    height: 100%;
    cursor: default;
}

/* POSITIONING WILL NEED TO BE ADJUSTED FOR SCREEN RESOLUTIONS LATER */

#map-contents-overlay {
    width: 100px;
    height: 100%;
    position: absolute;
    /*top: 10px;*/
    left: 0px;
    z-index: 2;
    /*border-radius: 7px;*/
    /*background-color: rgba(0, 0, 0, 0.2);*/
    /*border-right: 1px solid gray;*/
    /*padding: 20px; */
}

#map-contents-overlay .logo {
    position: absolute;
    width: 80px;
    left: 28px;
    top: 12px;
    display: none;
}

@media (min-width: 768px) {
    #map-contents-overlay {
        width: 240px;
    }
    #map-contents-overlay .logo {
        display: block;
    }
}

#map-contents-overlay .trail-button {
    position: absolute;
    width: 110px;
    height: 24px;
    line-height: 22px;
    border-radius: 3px;
    border: 2px solid white;
    color: white;
    text-align: center;
    font-family: RalewayRegular, sans-serif;
    font-size: 11px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.65);
}

#map-contents-overlay .trail-button:hover {
    color: #e36c36;
    border: 2px solid #e36c36;
}

#map-contents-overlay .active {
    color: #e3ba36;
    border: 2px solid #e3ba36;
}

#map-contents-overlay .trail-button:nth-of-type(1) {
    left: 10px;
    top: 30px;
}

#map-contents-overlay .trail-button:nth-of-type(2) {
    left: 10px;
    top: 58px;
}

@media (min-width: 768px) {
    #map-contents-overlay .trail-button:nth-of-type(1) {
        left: 125px;
        top: 30px;
    }

    #map-contents-overlay .trail-button:nth-of-type(2) {
        left: 125px;
        top: 58px;
    }
}

.map-contents-overlay-button-container {
    position: absolute;
    left: 0px;
    top: 100px;
    width: 90px;
    height: auto;
    overflow: hidden;
    padding: 7px 14px;
}

#map-note {
    margin-left: 7%;
    margin-right: 12%;
    font-size: 1.1rem;
    line-height: 1.4rem;
    text-align: left;
    color: black;
    text-shadow: #bbb 0.1em 0.1em 0.2em
}

#east-west-container {

}

#south-container {
    /*left: -310px;*/
    display: none;
}

.map-contents-overlay-button {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border: 3px solid white;
    margin-right: 0px;
    margin-bottom: 6px;
    overflow: hidden;
    position: relative; float: left;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

.grayout {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.grayout:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.map-contents-overlay-button:nth-child(odd) {
    margin-right: 12px;
}

.map-contents-overlay-button h4 {
    font-family: RalewayRegular, sans-serif;
    text-align: center;
    font-size: 11px;
    color: white;
    margin-top: 3px;
    padding-bottom: 3px;
}

.map-contents-overlay-button img {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}

.map-contents-overlay-button .chevron {
    position: absolute;
    bottom: 1px;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

@media (min-width: 768px) {
    .map-contents-overlay-button-container {
        width: 120px;
    }
    .map-contents-overlay-button {
        width: 90px;
        height: 100px;
        margin-bottom: 12px;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .map-contents-overlay-button-container {
        position: absolute;
        left: 10px;
        top: 100px;
        width: 240px;
        height: auto;
        overflow: hidden;
        padding: 7px 23px;
    }
    .map-contents-overlay-button h4 {
        margin-top: 13px;
        font-size: 14px;
    }
    .map-contents-overlay-button img {
        z-index: 0;
    }
}

#map-contents-info-window {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 85%;
    z-index: 3;
    border-radius: 5px;
    /*border: 1px solid white;*/
    box-shadow: 5px 5px 4px grey;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 20px 20px 10px 20px;
    color: white;
    display: none;
}

@media (min-width: 568px) {
    #map-contents-info-window {
        width: 50%;
        background-color: rgba(0, 0, 0, 0.65);
    }
}

@media (min-width: 768px) {
    #map-contents-info-window {
        width: 30%;
    }
}

#map-contents-info-window h4 {
    padding-bottom: 5px;
    /*border-bottom: 3px solid #9c776f;*/
    font-size: 16px;
}

#map-contents-info-window p {
    font-size: 13px;
}

#map-contents-info-window a {
    color: #e3ba36;
    font-size: 14px;
}

#map-contents-info-window a:hover {
    color: #e36c36;
    font-size: 14px;
}

#map-contents-info-window .status {
    font-size: 11px;
    word-spacing: 2px;
}

#map-contents-info-window .return {
    /*position: absolute;
    top: 10px;
    right: 10px;*/
    /*color: #e3ba36;*/
    color: #aaa;
    cursor: pointer;
    margin-top: 7px;
    padding-top: 10px;
}

#map-contents-info-window .return:hover {
    color: #e36c36;
}

#map .map-locator {
    position: absolute;
    top: 30px;
    right: 30px;
    /*width: 135px;*/
    visibility: hidden;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.7);;
    border-radius: 5px;
    padding: 8px;
    color: white;
    display: none;
}

@media (min-width: 768px) {
    #map .map-locator {
        visibility: visible;
        width: 145px;
    }
}

/*========================
Block 4 - Three Links
=========================*/
#block4 {
    margin: 0px 0px 0px 0px;
    padding: 20px 0px;
    min-width: 100%;
    height: auto;
}

@media (min-width: 992px) {
    #block4 {
        padding: 60px 0px;
    }
}


#block4 h1 {
    font-size: 1.9rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: inherit;
    font-family: RalewayRegular, sans-serif;
    line-height: 4rem;
}

#block4 p {
    text-align: left;
}

@media (min-width: 1200px) {
    #block4 p {
        text-align: justify;
    }
}

.info-grid {
    padding: 20px 40px;
    cursor: pointer;
    color: #6f7c82;
}

.info-grid:hover {
    color: #2b6293;
}

@media (min-width: 992px) {
    #info-learn {
        border-right: 1px solid #e4e9ec;
        border-left: 1px solid #e4e9ec;
        border-bottom: 1px solid #e4e9ec;
    }

    #info-who {
        border-right: 1px solid #e4e9ec;
        border-top: 1px solid #e4e9ec;
    }

    #info-help {
        border-bottom: 1px solid #e4e9ec;
        border-right: 1px solid #e4e9ec;
    }
}



/*========================
Block 5 - Filler
=========================*/
#block5 {
    min-width: 100%;
    /*height: 30%;*/
}

/*========================
Block 6 - Feeds
=========================*/
#block6 {
    min-width: 100%;
    /*height: 500px;*/
    border-top: 1px solid #e4e9ec;
    border-bottom: 1px solid #e4e9ec;
    margin-bottom: 0px;
    /*padding-bottom: 20px;*/
}

#block6 h4 {
    color: #6f7c82;
    font-size: 1.6rem;
    font-family: RalewayRegular, sans-serif;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

#block6 h4 a:hover {
    text-decoration: none;
    color: #e3ba36; 
}

#block6 .blog-col {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

#block6 .instagram-col {
    height: 100%;
    min-height: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

@media (min-width: 768px) {
    #block6 .instagram-col {
        padding-right: 10px;
        padding-left: 40px;
    }
}


.blog-post {
    width: 280px;
    height: 100px;
    outline: 1px solid #e4e9ec;
    /*background-color: #e4e9ec;*/
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
}

.blog-post .blog-img {
    width: 100px;
    height: 100px;
    float: left;
    background: url('../img/window-3.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
}

.blog-post .blog-read {
    position: absolute;
    left: 22px;
    top: 34px;
    font-size: 1.5rem;
    font-family: RalewayMedium, sans-serif;
    color: white;
    background-color: transparent;
    border-color: white;
    border-width: 3px;
    display: none;
}

.blog-post .blog-read:hover {
    color: #e3ba36;
    border-color: #e3ba36;
}

.blog-post h5 {
    padding: 25px 10px 5px 115px;
    margin: 0px;
    color: #6f7c82;
    font-size: 1.5rem;
    font-family: RalewayRegular, sans-serif;
    font-weight: 300;
}

.blog-post h5 a:hover {
    text-decoration: none;
    color: #e3ba36; 
}

.blog-post h6 {
    padding: 0px 10px 5px 115px;
    margin: 0px;
    color: #6f7c82;
    font-size: 1.1rem;
    font-family: RalewayThin, sans-serif;
    text-transform: uppercase;
}

.instagram-wrapper {
    height: 280px;
    overflow: hidden;   
}

@media (min-width: 392px) {
    .instagram-wrapper {
        height: 340px;   
    }
}

@media (min-width: 500px) {
    .instagram-wrapper {
        height: 380px;   
    }
}

@media (min-width: 620px) {
    .instagram-wrapper {
        height: 440px;   
    }
}

@media (min-width: 768px) {
    .instagram-wrapper {
        height: 500px;   
    }
}

@media (min-width: 992px) {
    .instagram-wrapper {
        height: 450px;   
    }
    #block6 .blog-col {
        height: 450px;  
        border-right: 1px solid #e4e9ec;
    }
}

@media (min-width: 1200px) {
    .instagram-wrapper {
        height: 500px;   
    }
    #block6 .blog-col {
        height: 500px;  
        border-right: 1px solid #e4e9ec;
    }
}

.ig-backup {
    top: 50%; 
    transform: translate(0, -50%); 
    position:absolute; 
    margin-left: auto; 
    margin-right: auto; 
    width:300px;
}
@media (min-width: 768px) {
    .ig-backup {
        width:450px;
    }
}    


/*========================
Block 7 - Gnarly Gear
=========================*/
#block7 {
    position: relative;
    margin: 0px 0px 0px 0px;
    min-width: 100%;
    height: 60%;
    /*min-height: 500px;*/
    z-index: -99;
    overflow: hidden;
}

@media (min-width: 768px) {
    #block7 {
        height: 70%;
    }
}

#block7 #gear-shirt {
    /*width: 35%;*/
    height: 100%;
    position: absolute;
    top: 0;
    left: 40px;
}

@media (min-width: 992px) {
    #block7 #gear-shirt {
        left: 23%;
    }
}

#block7 #go-shop {
    font-family: RalewayRegular, sans-serif;
    font-size: 2.0rem;
    color: #555;
    line-height: 2.7rem;
    position: absolute;
    display: block;
    /*left: 35%;*/
    margin-left: 25%;
    margin-right: auto;
    width: 50%;
    bottom: 10%;
    text-align: center;
}

@media (min-width: 568px) {
    #block7 #go-shop {
        margin-left: default;
        margin-right: default;
        width: auto;
        right: 14%;
        bottom: 30%;
    }
}

/*@media (min-width: 992px) {
    #block7 #go-shop {
        right: 14%;
    }
}*/

#block7 #piggy-bank {
    display: none;
}

@media (min-width: 992px) {
    #block7 #piggy-bank {
        width: 140px;
        display: block;
        margin: 0px auto 10px;
    }
}

@media (min-width: 1200px) {
    #block7 #piggy-bank {
        width: 160px;
    }
}



#block7 #get-gear {
    display: block;
}

#block7 #gear-proceeds {
    display: block;
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin-top: 10px;
}

#block7 #support-cause {
    display: none;
}

@media (min-width: 768px) {
    #block7 #go-shop {
        /*margin-left: auto;
        margin-right: auto;
        width: auto;
        left: 35%;*/
    }
    #block7 #get-gear {
        display: block;
    }
    #block7 #support-cause {
        display: block;
    }
    #block7 #gear-proceeds {
        display: block;
    }
}

@media (min-width: 768px) {
    #block7 #go-shop {
        /*font-size: 3.1rem;*/
        right: 15%;
        top: 145px;
        font-family: RalewayRegular, sans-serif;
        font-size: 2.4rem;
        line-height: 2.9rem;
        font-weight: 300;
        color: #555;
        /*right: auto;*/
    }
    #block7 #get-gear {
        margin-bottom: 20px;
    }
    #block7 #gear-proceeds {
        margin-top: 25px;

        /*margin-bottom: 20px;*/
    }
}

@media (min-width: 1200px) {
    #block7 #go-shop {
        right: 24%;
    }
}

.btn-shop {
    color: white;
    background-color: #2b6293;
    padding-left: 25px;
    padding-right: 25px;
}

.btn-shop:hover {
    color: white;
    background-color: #4d84b5;
}

#block7 #go-donate {
    font-family: RalewayRegular, sans-serif;
    font-size: 3.0rem;
    color: #e3ba36;   
    position: absolute;
    right: 10%;
    bottom: 10%;
    /*margin-right: 45px;*/
    text-align: center;
}

@media (min-width: 992px) {
    #block7 #go-donate {
        font-size: 4.1rem;
        left: 70%;
        bottom: 65px;
        right: auto;
    }
}

.btn-donate {
    color: white;
    background-color: #e3ba36;
    padding-left: 25px;
    padding-right: 25px;
}

.btn-donate:hover {
    color: white;
    background-color: #f6cd49;
}

/*========================
Block 7.5 - Newsletter
=========================*/
#newsletter {
    width: 100%;
    background-color: #F5F7F9;
    background-color: #4475a1;
    background-color: white;
    overflow: hidden;
    min-height: 50px;
    padding: 0;
    padding-top: 0px;
    padding-bottom: 30px;
    background-color: #e4e9ec;
    border-bottom: 1px solid #e4e9ec;
    
}

#newsletter h4 {
    color: #6f7c82;
    font-size: 2.6rem;
    font-family: RalewayRegular, sans-serif;
    margin-top: 60px;
    margin-bottom: 20px;
}

#newsletter a {
    color: #6f7c82;
    color: #6f7c82;
    font-size: 1.6rem;
    font-family: RalewayRegular, sans-serif;
    padding-top: 20px;
}

#newsletter a:hover {
    text-decoration: none;
    color: #2b6293;
}


/*========================
Block 8 - Contact
=========================*/
#contact {
    width: 100%;
    background-color: white;
    overflow: hidden;
    min-height: 250px;
    padding: 0px;
    border-top: 1px solid #e4e9ec;
    border-bottom: 1px solid #e4e9ec;
}

#contact .contact-cols {
    min-height: 250px;
    height: 100%;
    margin-top: 0px;
    text-align: center;
    padding: 0 40px;
}

#contact .contact-cols:nth-of-type(1) {
    border-right: 1px solid #e4e9ec;
    padding-left: 10px;
    text-align: right;
}

#contact .contact-cols:nth-of-type(2) {
    text-align: left;
}

#contact p.contact1 {
    text-align: right;
}

#contact p.contact2 {
    text-align: left;
}

#contact h4 {
    color: #6f7c82;
    font-size: 1.6rem;
    font-family: RalewayRegular, sans-serif;
    margin-top: 60px;
    margin-bottom: 20px;
    /*text-align: center;*/
}

#contact p {
    /*margin: 0 30px;*/
    font-family: RalewayRegular, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: rgba(111,124,130,.6);
    line-height: 1.8;
}

#contact a {
    text-decoration: none;
    color: rgba(111,124,130,.6);
}

#contact a:hover {
    text-decoration: none;
    color: #2b6293;
}

/*========================
Block 9 - Footer
=========================*/
#footer {
    width: 100%;
    background-color: #F5F7F9;
    overflow: hidden;
    min-height: 360px;
    padding: 0;
    padding-bottom: 20px;
}

#footer h4 {
    color: #6f7c82;
    font-size: 1.6rem;
    font-family: RalewayRegular, sans-serif;
    margin-top: 60px;
    margin-bottom: 10px;
    text-align: center;}

/*#footer #team {
    width: 850px;
    margin-left: auto ;
    margin-right: auto ;
    overflow: hidden;
    padding:0;
    margin-bottom: 15px;
    height: 350px;
}*/

.footer-col {
    padding: 0;
}

#footer .person {
    width: 100%;
    height: 100%;
    display: block;
    vertical-align: top;
    text-align: center;
    color: #6f7c82;
}

#footer .person img {
    margin: 20px auto;
    text-align: center;
    width: 90%;
    max-width: 150px;
}

#footer .person-img {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    /*background-color: white;*/
    width: 150px;
    height: 150px;
    margin: 10px auto;
    display: inline-block;
    vertical-align: top;
}

/*========================
Block 10 - SubFooter
=========================*/
#subfooter {
    width: 100%;
    height: 60px;
    /*background-color: #e3ba36;
    background-color: #6c98bf;*/
    background-color: #4475a1;
    overflow: hidden;
    padding: 0;
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    font-family: RalewayRegular, sans-serif;
    color:white;
}


/* ABOUT PAGE */
/*========================
Block 1 - Header
=========================*/

.abt-block1-wrapper {
    /*height: 720px;*/
    height: 230px;
    z-index: -100;
    /*margin: 0px;
    padding: 0px;*/
}

#abt-block1 {
    position: relative;
    margin: 0px 0px 20px 0px;
    min-width: 100%;
    height: 100%;
    /*background: url('../img/cover-background.jpg') no-repeat center center;*/
    background: url('../img/cover-background7.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
    /*border: 1px solid red;*/
}

#abt-block1:after {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #555;
    /*opacity: .5*/
    opacity: .1
}

#abt-block1-title {
    width: 400px;
    height: 75px;
    /*margin: 0px auto;*/
    position: absolute;
    bottom: 25px; 
    left:50%;
    margin-left:-200px;
    z-index: 2;
}

#abt-block1-title>h1 {
    /*text-transform: uppercase;*/
    font-family: RalewayRegular, sans-serif;
    font-size: 3.2rem;
    color: #e3ba36;
    line-height: 1.1;
    text-align: center;
}

.abt-block1-logo {
    position: absolute;
    left:90px;
    bottom:0px;
    /*width: 350px;
    height: 240px;*/
    width: 292px;
    height: 200px;
    background: url('../img/signpost2b.png') no-repeat center center;
    background-size: cover;
    background-position: center;
    z-index: 2;
    display: none;
}

.lang-switcher {
    position: absolute;
    right:20px;
    top:20px;
    z-index: 20000;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: right;
}

.ls-home {
    top: 20px;
    right: 20px;
}

@media (min-width: 768px) {
    .lang-switcher {
        right: 8px;
        bottom:10px;
        top: auto;
    }
    .ls-home {
        top: 44px;
        left: 80px;
        right: auto;

    }
}

@media (min-width: 768px) {
    .abt-block1-logo {
        display: block;
    }
}

a.home-link-box {
    display: none;
    position: absolute;
    left: 180px;
    top: 60px;
    width: 160px;
    height: 110px;
    z-index: 200;
}

.block-img-wrapper img {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    a.home-link-box {
        top: 90px;
        height: 80px;
        display: block;
    }
    img.firstblock {
        display: block;
        background: url(../img/dochu-supra.jpg) no-repeat;
        width: 400px; /* Width of new image */
        height: 700px; /* Height of new image */
    }
    img.secondblock {
        display: block;
        background: url(../img/kich-scene.jpg) no-repeat;
        width: 400px; /* Width of new image */
        height: 700px; /* Height of new image */
    }
}

@media (min-width: 892px) {
    img.firstblock {
        width: 400px; /* Width of new image */
        height: 600px; /* Height of new image */
    }
    img.secondblock {
        width: 400px; /* Width of new image */
        height: 600px; /* Height of new image */
    }
}

@media (min-width: 992px) {
    a.home-link-box {
        top: 60px;
        height: 110px;
    }
    img.firstblock {
        background: url(../img/dochu-supra550.jpg) no-repeat;
        width: 470px; /* Width of new image */
        height: 550px; /* Height of new image */
    }
    img.secondblock {
        background: url(../img/kich-scene550.jpg) no-repeat;
        width: 470px; /* Width of new image */
        height: 550px; /* Height of new image */
    }
}

@media (min-width: 1092px) {
    img.firstblock {
        width: 470px; /* Width of new image */
        height: 500px; /* Height of new image */
    }
    img.secondblock {
        width: 470px; /* Width of new image */
        height: 500px; /* Height of new image */
    }
}

@media (min-width: 1192px) {
    img.firstblock {
        width: 470px; /* Width of new image */
        height: 450px; /* Height of new image */
    }
    img.secondblock {
        width: 470px; /* Width of new image */
        height: 450px; /* Height of new image */
    }
}

/*------------------
TCT Bios
-------------------*/
.tct-bio {
    padding-bottom: 40px;
    /*border: 1px solid green;*/
}
.tct-bio .img-col {
    margin-bottom: 10px;
    margin-top: 20px;
    /*border: 1px solid red;*/
}

#tct-bios img {
    width: 100%;
    max-width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#tct-bios h5 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #777;
    font-weight: 200;
}

/*@media (min-width: 768px) {
    
}*/

/*========================
Block 2 - About the TCT
=========================*/
.map_content {
    position: relative;
    width: 500px;
    height: 550px;
    background: url('../img/tct_map.png') no-repeat center center;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.break-block {
    background: url('../img/break-box-default.jpg') no-repeat center center;
    background-size: 100% auto;
    background-position: center;
    height: 220px;
}

.bb1 {
    background: url('../img/break-box-mountains.jpg') no-repeat center center;
}

.bb2 {
    background: url('../img/break-box-trail.jpg') no-repeat center center;
}

.bb3 {
    background: url('../img/break-box-facade.jpg') no-repeat center center;
}

.bb4 {
    background: url('../img/break-box-lightning2.jpg') no-repeat center center;
}

.bb5 {
    background: url('../img/break-box-field.jpg') no-repeat center center;
}

.break-block h1 {
    color: white;
    padding-top: 95px;
    font-family: RalewayRegular, sans-serif;
    font-size: 2.3rem;
    text-align: center;
}

@media (min-width: 768px) {
    .break-block h1 {
        color: white;
        padding-top: 95px;
        font-family: RalewayRegular, sans-serif;
        font-size: 3.2rem;
        text-align: center;
    }
}

.block {
    border-top: 1px solid #e4e9ec;
    border-bottom: 1px solid #e4e9ec;
    padding: 70px 0px 50px 0px;
    margin: 0px 20px;
}

.block h1 {
    font-family: RalewayRegular, sans-serif;
    font-size: 3.2rem;
    text-align: center;
    color: gray;
}

.block h2 {
    font-family: RalewayThin, sans-serif;
    font-size: 2.2rem;
    text-align: center;
    color: gray;
    margin-top: 10px;
    margin-bottom: 35px;
}

/*.block h3 {
    font-family: RalewayRegular, sans-serif;
    font-size: 2.0rem;
    text-align: center;
    color: #2b6293;
    margin-top: 30px;
    margin-bottom: 7px;
}*/


.block h3 {
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-family: RalewayRegular, sans-serif;
    font-size: 1.8rem;
    line-height: 2.3rem;
    font-weight: 300;
    color: #555;
}

.block p {
    font-family: RalewayRegular, sans-serif;
    font-size: 1.4rem;
    color: gray;
    line-height: 2.2rem;
    margin: 2.4rem 1rem 2rem 2rem;
}

.block p.center {
    text-align: center;
}

.team-photo {
    position: relative;
    width: 500px;
    height: 450px;
    background: url('../img/team-photo.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    margin: 0;
}

#tct-story {
    text-align: left; /*This isn't working because of the block class, fix*/
    margin-left: 20px;
}

.scouting-trail {
    position: relative;
    width: 500px;
    height: 450px;
    background: url('../img/scouting-trail.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.mapping-activities {
    position: relative;
    width: 500px;
    height: 450px;
    background: url('../img/soviet-map.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.scouts {
    position: relative;
    width: 500px;
    height: 450px;
    background: url('../img/scouts.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    margin: 0;
}

.video-block {
    width: 350px;
    height: 197px;
    display:inline-block;
    float:none;
}

.video-info {
    padding: 16px 3px 0px 30px;
    width: 220px;
    float:none;
    display:none;
}

@media (min-width: 768px) {
    .video-block {
        width: 450px;
        height: 253px;
    }
    .video-info {
        display:inline-block;
    }
}

@media (min-width: 992px) {
    .video-block {
        width: 600px;
        height: 337px;
    }
    .video-info {
        padding-top: 50px;
        /*width: 230px;*/
    }
}

@media (min-width: 1200px) {
    .video-block {
        width: 675px;
        height: 379px;
    }
    .video-info {
        padding-top: 70px;
    }
}

.extra-padding {
    padding-top: 120px;
    padding-bottom: 100px;
}

.gear-block {
    width: 150px;
    height: 200px;
    padding: 2px;
    display:inline-block;
    float:none;
    border: 1px solid #ddd;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    background-image: url('../img/tct-shirt1.jpg');
    margin-right: 8px;
    background-clip: content-box;
    position: relative;
}

.gear-block.i1 {
    background-image: url('../img/tct-shirt1.jpg');
}

.gear-block.i2 {
    background-image: url('../img/tct-shirt2.jpg');
}

.gear-block.i3 {
    background-image: url('../img/tct-shirt3.jpg');
}

.gear-block.i4 {
    background-image: url('../img/tct-shirt4.jpg');
}

.gear-info {
    padding: 2px;
    width: 225px;
    height: 550px;
    float:none;
    display:none;
    display:inline-block;
}

.gear-info p {
   text-align: left;
   margin-left: 0;
   margin-top: 0;
   font-size: 1.3rem;
}

@media (min-width: 568px) {
    .gear-block {
        width: 300px;
        height: 350px;
        margin-right: 25px;
    }
    .gear-info {
        width: 230px;
        height: 450px;
        margin-bottom: 50px;
    }
}

@media (min-width: 768px) {
    .gear-block {
        width: 400px;
        height: 450px;
        margin-right: 25px;
    }
    .gear-info {
        width: 280px;
        height: 450px;
    }
}

.i1-button, .i2-button, .i3-button, .i4-button {
    position: absolute;
    bottom: 4px;
    left: 38px;
    width: 34px;
    height: 40px;
    display: inline-block;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    background-image: url('../img/tct-shirt1.jpg');
    cursor: pointer;
}

.i1-button:hover:after, .i2-button:hover:after, .i3-button:hover:after, .i4-button:hover:after {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #e36c36;
    opacity: .2
}

.i2-button {
    left: 74px;
    background-image: url('../img/tct-shirt2.jpg');
}

.i3-button {
    left: 110px;
    background-image: url('../img/tct-shirt3.jpg');
}

/*.i4-button {
    left: 110px;
    background-image: url('../img/tct-shirt4.jpg');
}*/

@media (min-width: 568px) {
    .i1-button, .i2-button, .i3-button, .i4-button {
        width: 68px;
        height: 80px;
        bottom: 8px;
        left: 78px;
    }
    .i2-button { left: 148px; }
    .i3-button { left: 218px; }
    /*.i4-button { left: 220px; }*/ 
}

@media (min-width: 768px) {
    .i1-button, .i2-button, .i3-button, .i4-button {
        width: 68px;
        height: 80px;
        bottom: 8px;
        left: 176px;
    }
    .i2-button { left: 248px; }
    .i3-button { left: 320px; }
    /*.i4-button { left: 392px; } */
}

.lang-light-link {
    color: #c7c7cd;
    font-size: 1.2rem;
}

.blog-list-item, .blog-list-item:hover, .blog-list-item:visited {
    height: 125px;
    width: 280px;
    outline: 1px solid #e4e9ec;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 32px;
    position: relative;
    display: block;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/window-3.jpg') no-repeat center center;
    background-size: cover;
    color: #e3ba36;
    color: white;
}

.blog-list-item, .blog-list-item:visited {
    color: white;
}

@media (min-width: 600px) {
    .blog-list-item, .blog-list-item:hover, .blog-list-item:visited {
        width: 380px;
    }
}

@media (min-width: 768px) {
    .blog-list-item, .blog-list-item:hover, .blog-list-item:visited {
        width: 480px;
    }
}

/* For the posts on the home page */
.blog-home, .blog-home:hover {
    width: 280px;
    height: 100px;
    margin-bottom: 12px;
}

.blog-list-item-text {
    margin: 0px;
    padding: 40px;
    position: absolute;               /* 2 */
    top: 50%;
    left: 50%;                         /* 3 */
    margin-right: -50%;
    transform: translate(-50%, -50%);    /* 4 */
}

.blog-list-item-text h5 {
    font-size: 2.4rem;
    font-family: RalewayRegular, sans-serif;
    font-weight: 300;
    text-align: center;
}

.blog-list-item-text h6 {
    text-align: center;
    font-size: 1.3rem;
    color: white;
}

.blog-home h5 {
    font-size: 1.8rem;
}

.blog-home h6 {
    font-size: 1.0rem;
}

.blog a {
    color: #b5793e;
    text-decoration: none;
}

.blog h2 {
    margin-top: 45px;
    margin-bottom: 5px;
}

.blog h5, .blog h6{
    text-align: center;
    color: #666;
}

.blog img {
    max-width: 100%;
    display: block;
    /*padding-right: 30px;*/
    /*margin-left: auto;
    margin-right: auto;*/
}

/*@media (min-width: 900px) {
    .blog #blog-ad {
        position: absolute;
        top: 1500px;
        right: 6%;
        width: 150px;
        cursor: button;
        background-color: white;
        border: 1px solid #ddd;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 1.6rem;
    }
    .blog #blog-ad:hover {
        background-color: #eee;
    }

    .blog #blog-ad>img {
        width: 100%;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}*/

/*********************/
/* Blog Listings 2.0 */
/*********************/
.blog-entry {
    border-top: 1px solid #ddd;
    padding: 50px 10px 10px;
    /*border: 1px solid green;*/
    margin-top: 20px;
}

.blog-entry h3 {
    text-align: left;
    font-size: 2.6rem;
    line-height: 3rem;
    font-weight: 400;
}

.blog-entry h5 {
    color: #888;
    font-weight: 200;
    font-size: 1.3rem;
    text-align: left;
}

.blog-entry b {
    font-weight: 400;
}

.blog-entry p {
    margin-left: 0;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 100;
    color: #aaa;
}

.blog-entry img {
    max-height: 100%;
    max-width:100%;
    padding: 5px 20px 20px 20px;
}

/******************/
/* Blog Posts 2.0 */
/******************/

.blog-sidebar {
    display: none;
}


@media (min-width: 768px) {
    .blog-sidebar {
        display: inline-block;
    }
}

.fb-like-wrapper {
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid green;*/
    width: 220px;
}

.blog-ad {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blog-ad img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:0;
    margin-top: 60px;
}

.blog-ad h4 {
    font-weight: 200;
    text-align: center;
    font-size: 1.7rem;
}

.bio img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding: 0;
    width: 200px;
}

.bio h3 {
    color: #555;
}

.bio h5 {
    padding: 0px 30px;
    line-height: 2rem;
    font-weight: 300;
    color: #888;
}

.bio p {
    line-height: 2.2rem;
    font-size: 1.4rem;
    color: #777;  
    /*text-align: left; */
}


.blog-content {
    padding-left: 5%;
    padding-right: 3%;
    /*border: 1px solid blue;*/
}

.blog-content p {
    font-size: 1.5rem;
    /*text-align: left;*/
}

.blog-content img {
    display: block;
    /*margin-left: auto;
    margin-right: auto;*/
}

img.full-width {
    width: 100%;
}


/* For the blog sharing buttons */
#share-buttons img {
    width: 40px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}


/* Get Involved Page */
.image-col img {
    width: 100%;
}

#tct-development li {
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 300;
}

.btn-app {
    color: white;
    background-color: #2b6293;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.5rem;
    margin-left: 20px;
}

.block-contact:hover {
    text-decoration: none;
}

/*#photo-block {
    background: url('/assets/img/svaneti_pd.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 500px;
}
#image {
  position: absolute;
  left: 0;
  top: 0;
}
#text {
  z-index: 100;
  position: absolute;
  color: white;
  left: 50px;
  bottom: 20px;
  width: 45%;
  line-height: 1.7rem;
  font-weight: 300;
}
*/
#indie-gogo {
    color: #ec1874;
}

.nav-btn-indie-gogo {
    color: #fff;
    /*background-color: #fff;*/
    background: transparent;
    border-width: 1px;
    border-color: #ec1874;
    font-size: 1.4rem;
}

.nav-btn-indie-gogo:hover {
    background-color: #ec1874;
    color: #fff;
}

.block-indiegogo {
    border-bottom: 2px solid #ec1874;
    /*height: 195px;*/
    background-color: rgba(236,24,116, 0.9);
    padding-bottom: 30px;
    padding-top: 20px;
    
}

.block-indiegogo h1 {
    color: white;
    font-size: 3rem;
    font-family: Raleway;
    text-align: center;
}

.block-indiegogo p {
    color: black;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}

.block-indiegogo a {
    color: white;
    font-size: 1.3rem;
    font-weight: 200;
}

.btn-indie-gogo {
    color: #ec1874;
    background-color: #fff;
    border-color: #ec1874;
}

.btn-indie-gogo:hover {
    color: #fff;
    background-color: #ec1874;
    border-color: #ec1874;
}


.block-whats-up {
    padding-top: 40px;
    padding-bottom: 40px;
    /*border-bottom: */
}

.block-whats-up img {
    width: 100%;
    max-height: 200px;
    padding-bottom: 16px;
}

.block-whats-up a {
    color: #2b6293;
}

.block-whats-up p {
    text-align: center;
}

.btn-help-map {
    color: #2b6293;
    background-color: #fff;
    border-color: #2b6293;
}

.btn-help-map:hover {
    color: #fff;
    background-color: #2b6293;
    border-color: #2b6293;
}

#tct-mapping a {
    color: #2b6293;
}

#tct-mapping h3 {
    padding-top: 22px;
}

#donate h4, #donate p {
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
.innovation-winner {
    position:absolute;
    border: 1px solid red;
    right: 9%;
    bottom: 10px;
    z-index: 12000;
}
.innovation-winner img {
    width: 210px;
    z-index: 12000;

}
}
